# Backend
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=secret
MONGO_DB=relaix
MONGODB_URI=mongodb://root:secret@localhost:27017/relaix?authSource=admin

# Redis
REDIS_PASSWORD=secret
REDIS_URL=redis://:secret@localhost:6379

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
